<div class="container main">
<p class="mat-h1 mat-headline">Developers</p>
<p class="mat-h3 mat-subheading-2 pt-2">Browse and Connect with Developers</p>
</div>
<mat-card>
    <div class="container">
      <div class="row justify-content-evenly">
        <div class="col-md-4">
          <img class="userimage" src="../../../assets/user.png">
        </div>
        <div class="col-md-4 justify-content-evenly">
          <mat-list>
            <mat-list-item> Vandana </mat-list-item>
            <mat-list-item> Job Description </mat-list-item>
            <mat-list-item> Location </mat-list-item>
            <mat-list-item><button mat-raised-button color="primary">View Profile</button></mat-list-item>
           </mat-list>
        </div>
        <div class="col-md-4 justify-content-evenly">
          <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
           </mat-list>
        </div>
      </div>
    </div>
</mat-card>
