<header><app-usermenu></app-usermenu></header>
<mat-card>
  <br>
  <div class="container main">
    <mat-toolbar>
  <h1 class="mainHeading ml-0">Add An Experience </h1>  </mat-toolbar>
  <mat-toolbar> <h3 class="subContent"><span class="icon mr-1"><i class="fa fa-code-fork" aria-hidden="true"></i>
    </span>
  <span>Add any developer/programming positions that you have had in the past</span></h3>
  </mat-toolbar>
  <br>
  <br>
  <p class="subText">*=required field</p>
    </div>

    <br>

    <div class="container">

  <form>
      <mat-form-field>
            <input
            matInput
            type="text"
            placeholder="*Job Title"
            name="title">
          </mat-form-field>

          <br>

          <mat-form-field>
            <input
            matInput
            type="text"
            placeholder="*Company"
            name="company">
          </mat-form-field>

          <br>

          <mat-form-field>
            <input
            matInput
            type="text"
            placeholder="Location"
            name="location">
          </mat-form-field>

            <br>
            <mat-form-field>
              <mat-label>From date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          <br>     <br>

          <mat-checkbox color="primary" #inputCheck [checked]="checked">Current School or Bootcamp</mat-checkbox>


          <br>
          <br>
          <mat-form-field>
            <mat-label>To date</mat-label>
            <input matInput [matDatepicker]="picker_to_date" [disabled]="inputCheck.checked">
            <mat-datepicker-toggle matSuffix [for]="picker_to_date"></mat-datepicker-toggle>
            <mat-datepicker #picker_to_date></mat-datepicker>
          </mat-form-field>
          <br>




          <mat-form-field class="example-full-width">
            <mat-label>Job Description</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

        <br>

          <button class="mr-3" mat-raised-button color="primary" type="submit">Submit</button>

          <button type="button" mat-raised-button routerLink="/dashboard">Go Back</button>


      </form>
    </div>

  </mat-card>
